In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

# Problem Statement

To Predict The insurance charges.

# Data Gathering

In [ ]:
# import data (csv file)

In [5]:
df = pd.read_csv("medical_insurance.csv")

In [6]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# EDA

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
df.isna().sum() # chech null value presesnt

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
df["sex"]

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [10]:
df["sex"].replace({"female":0,"male":1},inplace=True) # replace the categorical data into numeric

In [11]:
df

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [15]:
df["smoker"].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [16]:
df["smoker"].replace({"no":1,"yes":0},inplace=True)

In [18]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       0  southwest  16884.92400
1   18    1  33.770         1       1  southeast   1725.55230
2   28    1  33.000         3       1  southeast   4449.46200
3   33    1  22.705         0       1  northwest  21984.47061
4   32    1  28.880         0       1  northwest   3866.85520

In [19]:
df = pd.get_dummies(df , columns=["region"])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

In [21]:
df["children"].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

# Train test Split

In [23]:
df = df.select_dtypes(exclude=object)

In [24]:
x = df.drop("charges", axis=1)
y = df["charges"]

In [27]:
x_train, x_test , y_train , y_test = train_test_split(x,y, test_size=0.2,random_state=43)

In [28]:
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
144,30,1,28.690,3,0,0,1,0,0
563,50,1,44.770,1,1,0,0,1,0
1056,48,0,28.900,0,1,0,0,0,1
487,19,1,28.700,0,1,0,0,0,1
856,48,0,33.110,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
307,30,0,33.330,1,1,0,0,1,0
16,52,0,30.780,1,1,1,0,0,0
58,53,0,22.880,1,0,0,0,1,0
277,22,0,24.300,0,1,0,0,0,1
255,55,0,25.365,3,1,1,0,0,0

In [29]:
y_test

1162    18963.17192
1191    13725.47184
134      2457.21115
722     12979.35800
1250    18648.42170
           ...
1150     2203.73595
148     10959.69470
504      5974.38470
1243     3171.61490
524     38245.59327
Name: charges, Length: 268, dtype: float64

# Model Training

In [30]:
lr_model = LinearRegression()

In [31]:
lr_model.fit(x_train,y_train)

LinearRegression()

# Testing data Evaluation

In [35]:
y_pred = lr_model.predict(x_test)

mse = mean_squared_error(y_test,y_pred)
print("MSE :", mse)

rmse= np.sqrt(mse)
print("RMSE :", rmse)

mae = mean_absolute_error(y_test,y_pred)
print("MAE ;", mae)

r2_value = r2_score(y_test,y_pred)
print("R2 Score :",r2_value)

MSE : 43001715.78797235
RMSE : 6557.569350603343
MAE ; 4475.477852500112
R2 Score : 0.6942989522010103

# Training Data Evaluation

In [36]:
y_pred_train = lr_model.predict(x_train)


mse = mean_squared_error(y_train,y_pred_train)
print("MSE :", mse)

rmse= np.sqrt(mse)
print("RMSE :", rmse)

mae = mean_absolute_error(y_train,y_pred_train)
print("MAE ;", mae)

r2_value = r2_score(y_train,y_pred_train)
print("R2 Score :",r2_value)

MSE : 34954953.93224392
RMSE : 5912.271469768952
MAE ; 4021.7927805628915
R2 Score : 0.7635971854041862

# Testing On Single Row

In [37]:
df.head(1).T

                          0
age                  19.000
sex                   0.000
bmi                  27.900
children              0.000
smoker                0.000
charges           16884.924
region_northeast      0.000
region_northwest      0.000
region_southeast      0.000
region_southwest      1.000

In [ ]:
age = 19.000
sex = 0.000
bmi= 27.900
children= 0.000
smoker= 0.000
charges = 16884.924
region_northeast= 0.000
region_northwest = 0.000
region_southeast = 0.000
region_southwest = 1.000

In [46]:
age =  19 
sex = "male"
bmi = 27 
children = 2
smoker = "no"
region = "southeast"

#predict charges

In [47]:
column_names = x.columns
column_names

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [48]:
test_array = np.zeros(len(x.columns))
test_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [49]:
label_encoded_data = {"sex": {'female':0,'male':1},
                      "smoker":{'no':1,'yes':0}
                      }

label_encoded_data["smoker"][smoker]

label_encoded_data["sex"][sex]

1

In [50]:
region = "region_" + region
region

'region_southeast'

In [52]:
region_index = np.where(column_names == region)[0][0]
region_index

7

In [56]:
test_array[region_index] = 1

In [55]:
test_array[0] = age
test_array[1] = label_encoded_data["sex"][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = label_encoded_data["smoker"][smoker]

In [57]:
test_array

array([19.,  1., 27.,  2.,  1.,  0.,  0.,  1.,  0.])

In [60]:
np.around(lr_model.predict([test_array])[0],2)

C:\Users\Sunil Kshirsagar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2121.55

In [58]:
#create Model file

In [66]:

import pickle

with open("Linear_model.pkl","wb") as f:
    pickle.dump(lr_model,f)

In [67]:
project_data = {"sex": {'female':0,'male':1},
                      "smoker":{'no':1,'yes':0},
                      'columns' : list(x.columns)
                      }

In [68]:
import json
with open("project_data.json","w") as f:
    json.dump(project_data,f)